@charset "UTF-8";

:root {
  --body-font-sans-serif: "Open Sans", sans-serif;
  --body-font-size: 1rem;
  --body-font-weight: 400;
  --body-line-height: 1.5;
  --body-text-align: left;
  --body-color: var(--bs-primary);
  --body-bg: #fff;
  --heading-color: inherit;
  --border-width: 1px;
  --border-color: #dee2e6;
  --border-radius: 0.375rem;
}
/* Global Settings */
*,
*::before,
*::after {
  box-sizing: border-box;
}
head, 
link, 
script, 
style {
  display: none;
}
aside, 
body, 
div, 
form, 
footer, 
header, 
html, 
main, 
nav, 
ol, 
p, 
section, 
summary,
ul {
  display: block;
}
body {
  margin: 0;
  padding-top: 65px;
  font-family: var(--body-font-sans-serif);
  font-size: var(--body-font-size);
  font-weight: var(--body-font-weight);
  line-height: var(--body-line-height);
  text-align: var(--body-text-align);
  color: var(--body-color);
  background-color: var(--body-bg);
}

/* Typography */
h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  color: var(--heading-color);
}