{% extends 'layouts/base.html' %} 

{% load django_bootstrap5 grid_tags static %}

{% block title %}Disk Água e Gás{% endblock %}


{% block content %}
<!-- Product List Section -->
<section id="products">
  {% container %}
    {% if product_list %}
      {% row 'd-flex justify-content-center mt-4' %}
        {% for product in product_list %}
          {% col 'col-12 col-sm-10 col-md-8 col-lg-4' %}
            <div class="card w-md-50 w-lg-75 mx-auto shadow mb-4" href="#">
              {% if product.category == 'A' %}
                <img src="{% static 'img/agua.png' %}" class="card-img-top" height="320">
              {% endif %}
              {% if product.category == 'G' %}
                <img src="{% static 'img/gas.png' %}" class="card-img-top" height="320">
              {% endif %}
              <div class="card-body">
                <h5 class="card-title">{{ product.description }}</h5>
                <p class="card-text">{{ product.price }}</p>
                <div class="card-btn text-center">
                  <form method="POST" action="{% url 'cart:add_product' %}">
                    {% csrf_token %}
                    <input type="hidden" name="product_id" value="{{ product.id }}">
                    {% bootstrap_button button_class="btn btn-primary w-50" button_type="submit" content="Comprar" %}
                  </form>
                </div>
              </div>
            </div>
          <hr class="my-2">
          {% endcol %}  
        {% endfor %}
      {% endrow %}
    {% else %}
      {% row 'd-flex justify-content-center mt-5' %}
        {% col 'col-md-8 my-2 text-center text-primary' %}
          <img src="{% static 'icon/cart-x.svg' %}" width="64" alt="Sem Produtos">         
          <h2 class="mt-2"> Produtos :(</h2>
          <small>Ainda não foi cadastrado produtos nesta loja!!!</small>
        {% endcol %}
      {% endrow %}
    {% endif %}
  {% endcontainer %}
</section>
{% endblock content %}